.breath-of-fresh-air {
  position: relative; 
  z-index: 1; 
  background: none;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breath-of-fresh-air h1 {
  color: var(--softblack);
  font-size: 5rem;
  max-width: 60%;
  font-family: var(--bowlby);
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.3;
}

.breath-of-fresh-air p {
  color: var(--white);
  font-family: var(--fira);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
  flex-wrap: wrap; 
  margin: 1rem 0; 
  padding: 1rem; 
}


.categories button {
  background-color: var(--darkgreen);
  color: var(--softblack); 
  font-family: var(--fira);
  font-size: 1rem; 
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: transform 0.3s ease, background-color 0.3s ease; 
  text-decoration: none; 
}

.categories button:hover {
  background-color: var(--darkred); 
  color: var(--white);
  transform: scale(1.1); 
}

.categories .category-btn.active {
  background-color: var(--darkred); 
  color: var(--white); 
  transform: scale(1.1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.categories .reset-btn {
  background-color: var(--darkergreen);
}

.categories .favorites-btn {
  background-color: var(--darkergreen);
}


.reset-btn:hover {
  background-color: var(--darkred);
  transform: scale(1.1);
}

.search-bar {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.search-bar input {
  font-family: var(--fira);
  background-color: var(--white);
  width: 50%; 
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 2px solid var(--softblack); 
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #322f61; 
}

.grid-section {
  margin-top: 2rem; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  justify-items: center; 
  opacity: 1; 

}

.grid-wrapper {
  max-width: 1200px;
  padding: 1.5rem;
  width: 100%;
}

.polaroid-card {
  transform-origin: center; 
}

.continue-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}



button[type="submit"] {
  background-color: var(--white);
  color: var(--softblack);
  border: none;                
  padding: 10px 20px;         
  font-size: 16px;            
  cursor: pointer;            
  border-radius: 25px;          
  transition: background-color 0.3s ease;  
  font-family: var(--fira); 
  font-size: 0.8rem; 
}

button[type="submit"]:hover {
  background-color: var(--darkgreen);  
}

.continue-btn {
  background-color: var(--white);
  color: var(--softblack);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-family: var(--fira);
}

.continue-btn:hover {
  background-color: var(--darkgreen);
}